.nav{
  display: flex;
  align-items: center;
  background: #21222A;
}

.circle{
  width: 40px;
  height: 40px;
  padding : 0px 8px;
}

.reactFacts{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61DAFB;
  margin-right: auto;
}

.project{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #DEEBF8;
  margin-right: 27px;
}

.main{
  margin-left: 27px;
  margin-top: 57px;
  display: flex;
  background-image: url(./images/Vector.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.heading{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin-right: auto;
}

.heading > li::marker {
  color: #61DAFB;;
  font-size: 1.4em;
}

.heading > li{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 18px;
  margin-left: 74px;
  margin-top: 21px;
  letter-spacing: normal;
  line-height: 19px;
  color: #FFFFFF;
  max-width: 400px;
}